backend/.env
backend/node_modules
backend/package-lock.json
frontend/assets/*backup.png
tiles-scripts/dungeon-game-advc.tiled-session
tiles-scripts/extensions/package-lock.json
tiles-scripts/extensions/node_modules
database/advc_game.sqlite